@import "../../../styles/index.scss";

h1{
  color: $primary-color !important;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0px 15px $primary-text-shadow;
    svg{
      margin: 0px 8px !important;
    }
  // text-shadow: 1px 0px 15px #3a3c3d;
}

::ng-deep .carousel {
  height: 510px;
  margin: 58px 0px 85px 0px;
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $header-border-bottom;
    background: $primary-background-darker;
    slide{
      width: 100%;
      order: 0;
      padding: 20px 15%;
    }
  }
  &:focus{
    outline: none !important;
  }
}

::ng-deep .carousel-indicators li {
  background-color: #ff2150 !important;
}
