<carousel [isAnimated]="true" [interval]="false" [pauseOnFocus]="true">
  <slide>
    <div alt="first slide" [ngStyle]="{'color': 'red', 'background': 'transparent', 'width': '100%', 'display': 'block', 'height': '510px'}">
      <div class="container">
        <h1>Top Gainers</h1>
      </div>
    </div>
  </slide>
  <slide>
    <div alt="second slide"  [ngStyle]="{'color': 'red', 'background': 'transparent', 'width': '100%', 'display': 'block', 'height': '510px'}">
      <div class="container">
        <h1>Top Losers</h1>
      </div>
    </div>
  </slide>
  <slide>
    <div alt="third slide"  [ngStyle]="{'color': 'red', 'background': 'transparent', 'width': '100%', 'display': 'block', 'height': '510px'}">
      <div class="container">
        <h1>Communitity Favorites</h1>
      </div>
    </div>
  </slide>
</carousel>

