
<section class="home-crypto-section">
  <div class="d-flex justify-content-between">
    <h2>Top Losers</h2>
    <!-- <a>See more</a> -->
  </div>
  <div class="container">
    <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let coin of cryptoData | slice:0:16" class="slide">
    <div aTilt [tiltSettings]="tiltSettings"  class="card m-3" style="width: 18rem;" (click)="openDialog(coin)">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center">
            <img src="{{coin.logo_url}}">
            <h3 class="card-title crypt-card-header">{{coin.name}}</h3>
          </div>
          <h5 class="card-subtitle mb-2 text-muted">{{coin.symbol}}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div>
            <small class="muted">Price</small>
            <!-- <div class="d-flex justify-content-start align-items-center"> -->
              <div class="crypto-price-label mb-2">{{coin.price | currency}}</div>
              <div [className]="(coin.oneDayChange > 0) ? 'text-success' : 'text-danger-cryptr'">
                {{coin.oneDayChange| percent:'0.3-5'}}
              </div>
            <!-- </div> -->
          </div>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
</div>
</ngx-slick-carousel>
<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->
  </div>
  <!-- <small class="pr-3 small-note-aboslute">Crypto Market Cap & Pricing Data Provided By Nomics</small> -->

</section>

