@import '../../../styles/index.scss';


@mixin market-summary-mixin($light-theme: true) {
  $font-color: $primary-font-color;
  $desc-font-color: $desc-text-color;
  $secondary-font-color: lighten($primary-font-color, 10%);
  $text-shadow: $secondary-text-shadow;
  $border: $primary-border-light;


  @if $light-theme != true{
    $font-color: $dark-primary-font-color;
    $desc-font-color: $dark-desc-text-color;
    $secondary-font-color: darken($dark-primary-font-color, 10%);
    $text-shadow: $dark-primary-shadow;
    $border: $dark-primary-border;

  }
  border-bottom: 1px solid $border;

  .hero-header{
    font-size: 1.5rem;
    color: $font-color;
    font-weight: 500;
  }

  .caret{
    font-size: 1.1rem !important;
  }

  .data-label{
    display: inline-block !important;
    margin-bottom: 0.5rem !important;
    margin-top: .5rem !important;
    font-weight: bold !important;
    font-size: .7rem !important;
    color: $desc-font-color!important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    text-shadow: 1px 0px 15px $text-shadow;
  }
  .data-value{
    font-weight: 200;
    font-size: 1.15rem;
    color: $font-color;
  }
}


// .small-note-aboslute{
//   position: absolute;
//   bottom: 10px;
//   color: #737373;
// }

.home-crypto-section{
  @include market-summary-mixin($light-theme: true)
}

.dark.home-crypto-section{
  @include market-summary-mixin($light-theme: false)
}
