@import '../../../styles/index.scss';

.hero-header{
  font-size: 1.5rem;
  color: #3e3e3e;
  font-weight: 500;
}

.caret{
  font-size: 1.1rem !important;
}

.data-label{
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
  margin-top: .5rem !important;
  font-weight: bold !important;
  font-size: .7rem !important;
  color: #5c5c5c !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;

}
.data-value{
  font-weight: 200;
  font-size: 1.15rem;
}

// .small-note-aboslute{
//   position: absolute;
//   bottom: 10px;
//   color: #737373;
// }
