<app-particles></app-particles>
<!-- <app-crypto-line-chart></app-crypto-line-chart> -->

<div class="login-container">
  <div class="login-box">
    <!-- <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3">
        <app-language-selector></app-language-selector>
      </div>
    </div> -->
    <div class="login-card">
    <h1>Cryptolio.</h1>
      <div class="mb-5">
        <div class="card-body p-0">
          <h4 class="card-title text-center">
            <!-- <i class="far fa-3x fa-user-circle text-muted"></i> -->
          </h4>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Sign In">
              <form (ngSubmit)="login()" [formGroup]="loginForm" class="w-100 form-outer-container" novalidate>
                <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                  Username or password incorrect.
                </div>
               <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
                 <div>
                  <mat-form-field appearance="outline" >
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" autocomplete='new-password' >
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
                 </div>
                 <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" autocomplete='new-password' >
                    <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon appearance="standard" class="muted-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
                 </div>

              </form >
              <div>
                <button mat-raised-button type="submit" color="primary">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Sign In</span>
                </button>
                <div class="w-100 d-flex justify-content-center">
                  <button mat-button class="d-flex align-items-center justify-content-center m-2 p-1" (click)="authenticationService.GoogleAuth()">
                    <i class="mb-1 fab fa-google"></i>
                    Sign in with Google
                  </button>
                </div>
              </div>
              </form>
            </mat-tab>
            <mat-tab label="Join">
              <form (ngSubmit)="login()" [formGroup]="joinForm" class="w-100 form-outer-container-signup" novalidate>
                <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                  Username or password incorrect.
                </div>
               <form class="form-container" [formGroup]="joinForm" (ngSubmit)="login()">
                 <div class="row">
                   <div class="col-lg-6">
                    <mat-form-field appearance="standard" >
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Ex. moonboys589" formControlName="userName" autocomplete='new-password' >
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                   </div>
                   <div class="col-lg-6">
                    <mat-form-field appearance="standard" >
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="" formControlName="name" autocomplete='new-password' >
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                   </div>
                 </div>
                 <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field appearance="standard" >
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="xxx@email.com" formControlName="email" autocomplete='new-password' >
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field appearance="standard">
                      <mat-label>Password</mat-label>
                      <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" autocomplete='new-password' >
                      <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon appearance="standard" class="muted-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field appearance="standard">
                      <mat-label>Re-enter Password</mat-label>
                      <input [type]="hide ? 'password' : 'text'" matInput placeholder="Re-enter" formControlName="passwordCheck" autocomplete='new-password' >
                      <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon appearance="standard" class="muted-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                  </div>
                 </div>
              </form >
                <button mat-raised-button type="submit" color="primary">
                  <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                  <span translate>Join</span>
                </button>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <small class="llc-label">Cryptolio is owned and operated by Cryptolio LLC.</small>

    </div>
  </div>
</div>
