@import "src/theme/theme-variables";
@import "../../main.scss";
@import "~bootstrap/scss/mixins/_breakpoints";

form{
  display: table-caption;
}

.form-container{
  width: 467px !important;
  height: 320px;
  /* margin: 20px; */
  padding: 50px;
}

.form-outer-container{
  height: 450px;
}

.form-outer-container-signup{
  height: 300px;
  text-align: left;
}

// MATERIAL INPUTS 100% WIDTH
.mat-form-field {
  width: 100% !important;
}
.llc-label{
  position: absolute;
  bottom: 15px;
  width: 350px;
  left: 75px;
}

::deep.mat-tab-body-content {
  // height: 100%;
  overflow: hidden !important;
}

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.login-card {
  @include login-card();
}

.muted-icon{
  @include mat-muted-icon();
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
