// DARK VARIABLES
// BACKGROUNDS
$dark-primary-background-darker: #131313;
$dark-primary-background: #191919;

// COLORS
$dark-mat-muted-icon: #888888;
$dark-text-color: white;


// BORDERS
$dark-primary-border: #242424;
$dark-primary-border-dark: darken($primary-border, 15%);


// SHADOWS
$dark-primary-shadow: #12121280;
