
// BACKGROUNDS
$primary-background: #181818;

// COLORS
$mat-muted-icon: #888888;


// BORDERS
$primary-border: #454545;
$primary-border-dark: darken($primary-border, 15%);


// SHADOWS
$primary-shadow: #12121280;
