@import "mixins";
@import "variables";
@import "dark-variables";



h1{
  font-family: 'Righteous', cursive;
  // font-family: 'Galada', cursive;
  color: $primary-color;
}

.home-crypto-section{
  border-bottom: 1px solid #e4e4e4;
}

.slick-next:before {
  color: #acacac !important;
}

.slick-prev:before {
  color: #acacac !important;
}

section{
  min-height: 350px;
  min-height: 350px;
  margin: 30px 0px;
  padding: 5px 0px;
  position: relative;
  label{
    max-width: 1140px;
    // font-family: "Righteous", cursive;
    // font-weight: 500;
    // color: $text-color;
    // font-size: 1.45rem;
    // text-shadow: none;
    max-width: 1140px;
    font-weight: 200;
    color: #363636;
    font-size: 2.75rem;
    text-shadow: 1px 0px 15px #d6d6d6;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
  }
  i{
    font-size: 2.45rem;
    color: #363636;
    margin-right: 10px;
  }
  svg{
    font-size: 2.45rem;
    color: #363636;
    margin-right: 10px;
  }
}

// BUTTONS
.mat-raised-button {
  @include mat-raised-button();
}

// INPUTS

input{
  color: $text-color !important;
}

// LABELS
.small-note-aboslute{
  position: absolute;
  bottom: 10px;
  right: 0px;
  color: #737373;
  font-size: .65rem;
}


// MATERIAL OVERRIDES
.mat-expansion-panel {
  box-shadow: 0px 2px 4px 1px #8080802e !important;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  justify-content: center !important;
  align-items: center !important;
  // backdrop-filter: blur(5px);
}

.cdk-overlay-dark-backdrop {
  background: #2727271c !important;
}

.mat-dialog-container {
  height: 85vh !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  padding: 0px !important;
}

.mat-tab-label {
  height: 48px;
  padding: 0 20px !important;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 80px !important;
}

.mat-tab-label-active{
  color: white !important;
  opacity: 1 !important;
  transition: .5s;
}

.mat-ink-bar{
  height: 70% !important;
  z-index: -1 !important;
  border-radius: 8px !important;
  margin-bottom: 8px !important;
  box-shadow: 0px 3px 3px 0px #ff55788a !important;
  border: none !important;
  background: #ff2150 !important;
}

// .mat-drawer-container {
//   height: 100vh !important;
// }
.mat-drawer-content {
  margin: 0px 300px !important;

}
.mat-drawer-content {
  // margin-top: 60px !important;
}
.mat-drawer {
  width: 300px !important;
  background: #fafafa;
  border: none !important;
}

.mat-drawer-container {
  // height: 100vh !important;
  display: block;
  overflow: auto;
  margin-top: 60px;
}

.mat-tab-header {
  border-bottom: none !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.mat-expansion-panel-content {
  display: none !important;
}

.mat-button{
  min-width: 40px !important;
  font-size: 16px !important;
  opacity: .8 !important;
}

// SVG & ICONS
svg {
  overflow: hidden;
  vertical-align: middle;
  // color: #acacac;
  font-size: 20px;
}

// BOOTSTRAP OVERRIDES
.text-danger-crypt{
  color: #ff2150 !important
}

.badge-light-custom{
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  background-color: #e1e1e1 !important;
}
