@import "mixins";
@import "variables";
@import "dark-variables";



h1{
  font-family: 'Righteous', cursive;
  // font-family: 'Galada', cursive;
  color: $primary-color;
}

section{
  min-height: 350px;
  min-height: 350px;
  margin: 30px 0px;
  padding: 5px 0px;
  label{
    max-width: 1140px;
    // font-family: "Righteous", cursive;
    font-weight: 500;
    color: $text-color;
    font-size: 1.45rem;
    text-shadow: none;
  }
}

// BUTTONS
.mat-raised-button {
  @include mat-raised-button();
}

// INPUTS

input{
  color: $text-color !important;
}



// COMPONENTS
.cdk-overlay-pane {
  display: flex;
  max-width: 100% !important;
  width: 80% !important;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  justify-content: center !important;
  align-items: center !important;
}

.mat-dialog-container {
  height: 85vh !important;
}

// SVG & ICONS
svg {
  overflow: hidden;
  vertical-align: middle;
  color: #acacac;
  font-size: 20px;
}


