/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

 @import '~@angular/material/theming';
 @include mat-core();

 $crypto-theme-primary: mat-palette($mat-grey);
 $crypto-theme-accent: mat-palette($mat-grey, 100, 300, 500);
 $crypto-theme-warn: mat-palette($mat-red);

 $crypto-theme: mat-dark-theme($crypto-theme-primary, $crypto-theme-accent,  $crypto-theme-warn);

@include angular-material-theme($crypto-theme)

