<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked > 365 Days
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> 30 Days
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off" > 7 Days
  </label>
</div> -->
<div class="d-flex justify-content-between align-items-start chart-header-container">
  <div class="chart-header-label">
    Last {{uncheckableRadioModel}} days
  </div>
  <div class="filter-container mb-3">
    <div class="btn-group" btnRadioGroup [(ngModel)]="uncheckableRadioModel">
      <label class="btn btn-info d-flex align-items-center" btnRadio="365"
              tabindex="0" role="button" (click)='getNewChartData(365, "histoday")'>365 Days</label>
      <label class="btn btn-info d-flex align-items-center" btnRadio="30"
              tabindex="0" role="button" (click)='getNewChartData(30, "histoday")'>30 Days</label>
      <label class="btn btn-info d-flex align-items-center" btnRadio="7"
              tabindex="0" role="button" (click)='getNewChartData(7, "histoday")'>7 Days</label>
    </div>
  </div>
</div>

<app-loader [isLoading]=isLoading></app-loader>
<div #grid (window:resize)="resizeEvent(grid)" id="grid" *ngIf="prettyChartData.length >= 1; else noData"></div>

<ng-template #noData>
  <div class="w-100 d-flex justify-content-center align-items-center no-data-container" *ngIf="!isLoading">
    <div class="">
      <div class="no-data-label">
        Chart data is unavailable.
      </div>
      <small>This is typical for lower cap coins.</small>
    </div>
  </div>
</ng-template>




<!-- <div class="one" [innerHtml]="htmlToAdd"></div> -->

