@import "src/theme/theme-variables";
@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/index.scss";


.navbar {
  // margin-bottom: $spacer;
  margin-bottom: none;
  position: fixed;
  top: 0px;
  z-index: 999;
  height: 58px;
  width: 100%;
  background-color: $header-translucent-background;
  backdrop-filter: saturate(90%) blur(15px);
  // box-shadow: 0px 2px 8px 2px #0c0d0e63;
  text-shadow: 1px 0px 15px $primary-text-shadow;
  border-bottom: 1px solid $header-border-bottom;
  .navbar-brand{
    font-family: 'Righteous', cursive;
    // font-family: 'Galada', cursive;
    color: $primary-color;
    font-size: 1.85rem;
  }
  .nav-bar-metrics{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $header-translucent-background;
    backdrop-filter: brightness(.88);
    .metric-container{
      padding: 0px 10px;
      border-right: 1px solid $primary-border;
      &:last-child{
        border-right: none;
      }
    }
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
