/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
@import "theme/mixins.scss";
@import "styles/index.scss";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";


body{
  background: $primary-background;
  font-family: 'Montserrat', sans-serif;
}

.scroll1::-webkit-scrollbar {
  width: 15px;
}

.scroll1::-webkit-scrollbar-track {
  background: white;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 15px;
  border: 5px solid #ffffff;
  // border-radius: 15px;
}
